.share {
  text-align: center;
  margin-top: 100px;
  font-size: 35px;
}

.share h1 {
  color: black;
  font-weight: 600px;
  font-size: 30px;
}

.share hr {
  width: 200px;
  height: 10px;
  border-radius: 7px;
  background: #333333;
}

.share-item {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
