.loginsetup {
  height: 80vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 100px;
}

.loginsetup-container {
  width: 550px;
  height: 710px;
  background: wheat;
  margin: auto;
  padding: 40px 60px;
  border: 1px solid black;
}

.loginsetup-container h1 {
  margin: 20px 0px;
}

.loginsetup-fields {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 30px;
}

.loginsetup-fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.loginsetup-container button {
  height: 70px;
  width: 574px;
  color: wheat;
  background: rgb(0, 0, 0);
  margin-top: 10px;
  border: none;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}

.loginsetup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 19px;
  font-weight: 500;
}

.loginsetup-login span {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 32px;
  padding-right: 7px;
  cursor: pointer;
}

.loginsetup-agree {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  color: gray;
  font-size: 19px;
  font-weight: 500;
}
