.items {
  width: 350px;
}

.item p {
  margin: 6px 0px;
}

.items-valor {
  display: flex;
  gap: 20px;
}

.items-valor-novo {
  color: rgb(238, 1, 1);
  font-size: 18px;
  font-weight: 600;
}

.items-valor-antigo {
  color: rgb(35, 35, 35);
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.7s;
}
