@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap");
.items {
  width: 350px;
}

.items p {
  margin: 6px 0px;
}

.items-valor {
  display: flex;
  gap: 20px;
}

.items-new-price {
  color: rgb(238, 1, 1);
  font-size: 18px;
  font-weight: 600;
}

.items-old-price {
  color: rgb(35, 35, 35);
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.items:hover {
  transform: scale(1.05);
  transition: 0.7s;
}

.addToCartBtn {
  background-color: #333333;
  color: wheat;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
