.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  background-color: rgb(51, 51, 51);
}

.logo-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-nav p {
  color: white;
  font-size: 35px;
  font-weight: 500px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 500px;
}

.nav-menu li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.cart-logo {
  width: 30px;
  height: 30px;
}

.nav-cart button {
  width: 120px;
  height: 45px;
  outline: none;
  color: black;
  border: 1px solid black;
  border-radius: 75px;
  font-size: 22px;
  font-weight: 500;
  background-color: antiquewhite;
  cursor: pointer;
}

.nav-cart button:active {
  background-color: black;
  color: antiquewhite;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
}
