.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: rgb(51, 51, 51);
  margin-top: 60px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
}

.footer-logo p {
  color: wheat;
  font-size: 30px;
  font-weight: 600;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 45px;
  color: wheat;
  font-size: 20px;
}

.footer-links li {
  cursor: pointer;
}

.footer-links li:hover {
  color: rgb(0, 0, 0);
}

.footer-social-icons {
  display: flex;
  gap: 30px;
}

.footer-icons-contaier {
  padding-bottom: 9px;
  padding: 11px;
  background-color: rgb(51, 51, 51);
  border: 2px solid wheat;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 100%;
  margin-bottom: 30px;
  color: wheat;
  font-size: 15px;
}

.footer-copyright hr {
  width: 80%;
  border: none;
  height: 3px;
  border-radius: 11px;
  background-color: white;
}
